@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;700&family=Lexend+Deca:wght@100;200;400;500;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lexend Deca;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main{
  display: flex;
  height: 400px;
  width: 680px;
  border-radius: 8px;
}

.first-section{
  background-color: hsl(31, 77%, 52%);
  border-radius: 8px 0 0 8px;
  padding: 30px;
}

.second-section{
  background-color: hsl(184, 100%, 22%);
  padding: 30px;
}

.third-section{
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 8px 8px 0;
  padding: 30px;
}

main img{
  width: 50px;
  display: block;
  margin-bottom: 20px;
}

h1{
  font-family: Big Shoulders Display;
  color: white;
  margin-bottom: 20px;
}

p{
  color: white;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 60px;
}

button{
  background-color: white;
  border: 1px solid white;
  border-radius: 30px;
  padding: 15px 25px;
  cursor: pointer;
}

.first-section button{
  color: hsl(31, 77%, 52%);
  transition: 0.5s ease;
}

.first-section button:hover{
  background-color: hsl(31, 77%, 52%);
  color: white;
  border: 1px solid white;
}

.second-section button{
  color: hsl(184, 100%, 22%);
  transition: 0.5s ease;
}

.second-section button:hover{
  background-color: hsl(184, 100%, 22%);
  color: white;
  border: 1px solid white;
}

.third-section button{
  color: hsl(179, 100%, 13%);
  transition: 0.5s ease;
}

.third-section button:hover{
  background-color: hsl(179, 100%, 13%);
  color: white;
  border: 1px solid white;
}

